
<h1 class="text-theme font-weight-bold">Aquarius ZODIAC SIGN</h1>
<p class="text-white underline">
    Symbolized by <a href="#" class="text-theme"> the Water bearer</a>
    <span class="ml-3">Air Sign</span> <span class="ml-4">
        Date <a href="#" class="text-theme"> January 20th  - February  17th</a>
    </span> <span class="ml-2">Birthstone:</span> <span class="ml-2 text-theme">Garnet</span>
</p>
<img class="img-fluid" src="~/images/Aquarius.PNG" />
<div class="mt-2">
    <h4 class="text-white pt-3 mb-3">Traits:</h4>
    <ul class="d-flex flex-wrap">
        <li class="text-white border p-3">Progressive</li>
        <li class="text-white border p-3">Independent</li>
        <li class="text-white border p-3">Unique</li>
        <li class="text-white border p-3">Assertive</li>
        <li class="text-white border p-3">Original</li>
    </ul>
    <h4 class="text-white pt-3 mb-3">Aquarius in depth:</h4>
    <p class="text-white">
        The misconception that Aquarius is a water sign is one of the most common, albeit harmless, misconceptions. It's easy to get confused about this sign because of the word "aqua," but after you learn more about Aquarius, it becomes obvious that it is an air sign. In fact, Aquarius, the eleventh and penultimate sign of the zodiac, deals with air-related ideas from a macro-perspective because it is the final air sign. Aquarius is without a doubt the most creative, forward-thinking, rebellious, and compassionate of all the signs of the zodiac. And while Aquarius is frequently seen plotting a revolution or proudly displaying their quirky fashion sense, they also have a sensitive side that is sometimes disregarded and needs respect, encouragement, and love.
    </p>
</div>