@{

}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/style.css" />

<h1 class="text-theme font-weight-bold">ARIES ZODIAC SIGN</h1>
<p class="text-white underline">Symbolized by <a href="#" class="text-theme"> the Ram</a> <span class="ml-3">Fire Sign</span> <span class="ml-4">Date <a href="#" class="text-theme"> March 20 - April 19th,</a></span> <span class="ml-2">Birthstone:</span> <span class="ml-2 text-theme">Bloodstone</span></p>
<img class="img-fluid" src="~/images/Aries.PNG" />
<div class="mt-2">
    <h4 class="text-white pt-3 mb-3">Traits:</h4>
    <ul class="d-flex flex-wrap">
        <li class="text-white border p-3">Likes to be first</li>
        <li class="text-white border p-3">Ambitious</li>
        <li class="text-white border p-3">Ruthless</li>
        <li class="text-white border p-3">Independence</li>
        <li class="text-white border p-3">Action Takers</li>
    </ul>
    <h4 class="text-white pt-3 mb-3">Aries in depth:</h4>
    <p class="text-white">
        It's no wonder that Aries, the bold rams, are the first sign in the zodiac because they want to be in charge. Aries is a brave and ambitious sign that charges headfirst into even the most difficult circumstances (which is appropriate, since the body part associated with Aries is the head). Aries, like their fellow fire signs Leo and Sagittarius, is a passionate, driven, and self-assured leader who fosters community by their upbeat demeanor and unwavering resolve. Simple and clear in their approach, they frequently become irritated by lengthy intricacies and pointless complexities. Their attitude, which is reflected in their sexual preferences, is that they prefer quick and nasty. Aries, a cardinal sign, is the first sign of the zodiac wheel and the beginning of spring. Astrologers hold that each sign absorbs the lessons—both happy and painful—learned by the signs that come before it. Aries, on the other hand, lacks innate knowledge and instead leads with reckless optimism.
    </p>
</div>