
<h1 class="text-theme font-weight-bold">Cancer ZODIAC SIGN</h1>
<p class="text-white underline">Symbolized by <a href="#" class="text-theme"> the Crab</a> <span class="ml-3">Water Sign</span> <span class="ml-4">Date <a href="#" class="text-theme"> June 21th - july 21th</a></span> <span class="ml-2">Birthstone:</span> <span class="ml-2 text-theme">Emerald</span></p>
<img class="img-fluid" src="~/images/Cancer.PNG" />
<div class="mt-2">
    <h4 class="text-white pt-3 mb-3">Traits:</h4>
    <ul class="d-flex flex-wrap">
        <li class="text-white border p-3">Intuitive</li>
        <li class="text-white border p-3">Loyal</li>
        <li class="text-white border p-3">Moody</li>
        <li class="text-white border p-3">Nostalgic</li>
        <li class="text-white border p-3">Charming</li>
    </ul>
    <h4 class="text-white pt-3 mb-3">Cancer in depth:</h4>
    <p class="text-white">
        The zodiac sign Cancer is a water sign. Cancer's capacity to dwell in both emotional and material domains is symbolized by the crab, an oceanic creature that moves between the sea and the beach with ease. Cancers are highly intuitive, and they can perceive energy in physical environments. For example, they may easily sense the energy in a room. These crabs are fiercely protective of themselves and highly sensitive to their surroundings. Cancers are protected by tough, outer shells, much like their celestial spirit animal. These crabs could initially come out as chilly or aloof. However, Cancers eventually show their gentleness, sincere compassion, and mystical skills. Just be prepared that it can take some time to get to know them.
    </p>
</div>