
<h1 class="text-theme font-weight-bold">Capricorn ZODIAC SIGN</h1>
<p class="text-white underline">
    Symbolized by <a href="#" class="text-theme"> the sea goat</a>
    <span class="ml-3">Earth Sign</span>
    <span class="ml-4">Date <a href="#" class="text-theme"> December 21st - January 19th</a></span>
    <span class="ml-2">Birthstone:</span> <span class="ml-2 text-theme">Ruby</span>
</p>
<img class="img-fluid" src="~/images/Capricorn.PNG" />
<div class="mt-2">
    <h4 class="text-white pt-3 mb-3">Traits:</h4>
    <ul class="d-flex flex-wrap">
        <li class="text-white border p-3">Overachievers</li>
        <li class="text-white border p-3">Persistent</li>
        <li class="text-white border p-3">Sensitive</li>
        <li class="text-white border p-3">Hardheaded</li>
        <li class="text-white border p-3">Stubborn</li>
    </ul>
    <h4 class="text-white pt-3 mb-3">Capricorn in depth:</h4>
    <p class="text-white">
        Indeed, there is a cunning troublemaker inside every sincere Capricorn (in tarot, Capricorn is symbolized by the "devil" card). The closest friends and lovers of Capricorn are aware that although this earth sign initially appears to be a little cautious and reserved, these sea goats love to party. It's interesting to note that Capricorns are considered to age backwards; as they become older, they become more and more youthful, upbeat, and playful. Indeed, there is a cunning troublemaker inside every sincere Capricorn. The closest friends and lovers of Capricorn are aware that although this earth sign initially appears to be a little cautious and reserved, these sea goats love to party. The sea goat, a mythical monster with a goat-like body and a fish-like tail, represents Capricorn. This symbolism highlights Capricorn's dual powers. Capricorns are skilled at navigating both the material and emotional realms.
    </p>
</div>