@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-theme font-weight-bold">Gemini ZODIAC SIGN</h1>
<p class="text-white underline">Symbolized by <a href="#" class="text-theme"> the Twins</a> <span class="ml-3">Air Sign</span> <span class="ml-4">Date <a href="#" class="text-theme"> May 21st - June 20th</a></span> <span class="ml-2">Birthstone:</span> <span class="ml-2 text-theme">Agate</span></p>
<img class="img-fluid" src="~/images/Gemini.PNG" />
<div class="mt-2">
    <h4 class="text-white pt-3 mb-3">Traits:</h4>
    <ul class="d-flex flex-wrap">
        <li class="text-white border p-3">Adaptable </li>
        <li class="text-white border p-3">Outgoing</li>
        <li class="text-white border p-3">Intelligent</li>
        <li class="text-white border p-3">Impulsive</li>
        <li class="text-white border p-3">Unreliable</li>
    </ul>
    <h4 class="text-white pt-3 mb-3">Gemini in depth:</h4>
    <p class="text-white">
        Have you ever been so overwhelmed with work that you wished you could clone yourself to do it all? That can be summed up as the Gemini experience. This air sign, appropriately represented by the celestial twins, had to double in order to accommodate all of its many interests. Due to their innate duality, Geminis are frequently wrongly stereotyped as having two personalities. However, Gemini rarely has a secret objective in actuality. Gemini is a playful and inquisitive sign that continually juggles a range of interests, hobbies, jobs, and social circles. These quick-witted twins are the social butterflies of the zodiac and can converse with anyone about anything. Between happy hours, dinner parties, and dance floors, you can find them humming.
    </p>
</div>