<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - zodiacSign</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
</head>
<body>
    <header class="sticky-top">
        <div class="container">
            <nav>
                <a href="@Url.Action("Index" , "Home")" class="logo">Zodic</a>
                <ul class="main-menu">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Join Astrology</a></li>
                </ul>
            </nav>
        </div>
    </header>

    @RenderBody()
    <footer class="footer_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12 col-md-12">
                    <div class="">
                        @*<h4 class="text-white">CONTACT US TODAY</h4>*@
                        <p class="py-2 text-center">
                            <span class="text-white">Call Us</span> <span class="call-us-color">253 253 2553</span> <span class="text-white">Send an Email on</span> <a href="mailto:Zodiac@zodiac.com" class="call-us-color">Zodiac@zodiac.com</a>
                        </p>
                        @*<div class="footer_input_wrapper position-relative">
                            <input type="text" placeholder="Email Address..." />
                            <i class="fa-solid fa-envelope"></i>
                        </div>*@
                    </div>
                </div>
            </div>
            <hr class="mt-2 mb-4 line-border">
            <p class="text-white mb-0 text-center">Copyright © 2023 Astrology. All Right Reserved.</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
