@{
}
<h1 class="text-theme font-weight-bold">Leo ZODIAC SIGN</h1>
<p class="text-white underline">
    Symbolized by <a href="#" class="text-theme"> the Lion</a>
    <span class="ml-3">Fire Sign</span>
    <span class="ml-4">Date <a href="#" class="text-theme"> July 22nd - August 22nd</a></span>
    <span class="ml-2">Birthstone:</span> <span class="ml-2 text-theme">Onyx</span>
</p>
<img class="img-fluid" src="~/images/Leo.PNG" />
<div class="mt-2">
    <h4 class="text-white pt-3 mb-3">Traits:</h4>
    <ul class="d-flex flex-wrap">
        <li class="text-white border p-3">Spoiled</li>
        <li class="text-white border p-3">Popular</li>
        <li class="text-white border p-3">Protective</li>
        <li class="text-white border p-3">Natural Leader</li>
        <li class="text-white border p-3">Animated</li>
    </ul>
    <h4 class="text-white pt-3 mb-3">Leo in depth:</h4>
    <p class="text-white">
        Because they have strong self-esteem, Lions are aware of their admirable qualities and are proud of them. They reject the idea of pretense and are the first to congratulate themselves on a job well done. Leo, however, isn't conceited or hesitant to roll up their sleeves and labor; this sign is aware that in order to be recognized and admired, one must exert the kind of leadership-worthy effort. However, Lions don't always have to work hard. Leos are intense and vivacious people who like social engagements and have no trouble establishing friends but getting them to spend time with you is another matter entirely. Leos prioritize themselves and will reject a strategy that doesn't align with their goals or sense of fun. They have an unjust reputation for being arrogant because of this attribute. On the other hand, a Lion will only choose to spend time with you if he or she sincerely wants to.
    </p>
</div>