@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-theme font-weight-bold">Libra ZODIAC SIGN</h1>
<p class="text-white underline">
    Symbolized by <a href="#" class="text-theme"> the scales</a> <span class="ml-3">Air Sign</span> 
    <span class="ml-4">Date <a href="#" class="text-theme">September 23rd - October 23rd</a></span>
    <span class="ml-2">Birthstone:</span> <span class="ml-2 text-theme">Peridot</span>
</p>
<img class="img-fluid" src="~/images/Libra.PNG" />
<div class="mt-2">
    <h4 class="text-white pt-3 mb-3">Traits:</h4>
    <ul class="d-flex flex-wrap">
        <li class="text-white border p-3">Diplomatic</li>
        <li class="text-white border p-3">Fair</li>
        <li class="text-white border p-3">Social</li>
        <li class="text-white border p-3">Clever</li>
        <li class="text-white border p-3">Indecisive</li>
    </ul>
    <h4 class="text-white pt-3 mb-3">Libra in depth:</h4>
    <p class="text-white">
        Scales are the zodiac's only inanimate object and the symbol for Libra, an air sign, which emphasizes Libra's obsession with harmony and balance. Libra is preoccupied with symmetry and seeks to achieve harmony in all spheres of life. The zodiac's artists are represented by these air signs: Libras are passionate about fine art, intellectualism, and connoisseurship since Venus, the planet of love, beauty, and money, rules them. Suave Libras need to surround themselves with beautiful things and design spaces that are a reflection of their fine preferences. These air indications are therefore fantastic stylists, art critics, designers, and decorators. While Libra's opposite sign, Aries, represents "me," Libra symbolizes "we". Relationships are important to Libras because they find balance through friendship. They adore harmonious relationships with stylish companions, particularly those who make for desirable arm candy.
    </p>
</div>