@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-theme font-weight-bold">Pisce ZODIAC SIGN</h1>
<p class="text-white underline">
    Symbolized by <a href="#" class="text-theme"> the Fishes</a> <span class="ml-3">Water Sign</span> 
    <span class="ml-4">Date <a href="#" class="text-theme">February 18th  - March 19th</a></span>
    <span class="ml-2">Birthstone:</span> <span class="ml-2 text-theme">Amethyst</span>
</p>
<img class="img-fluid" src="~/images/Pisces.PNG" />
<div class="mt-2">
    <h4 class="text-white pt-3 mb-3">Traits</h4>
    <ul class="d-flex flex-wrap">
        <li class="text-white border p-3">Compassionate</li>
        <li class="text-white border p-3">Artistic</li>
        <li class="text-white border p-3">Emotional</li>
        <li class="text-white border p-3">Empathetic</li>
        <li class="text-white border p-3">Compassion</li>
    </ul>
    <h4 class="text-white pt-3 mb-3">Pisces in depth:</h4>
    <p class="text-white">
        The final sign of the zodiac is the water sign Pisces. Two fish swimming in opposite directions are used as a symbol to signify the continual divide of Pisces's focus between reality and dream. As the last sign, Pisces has absorbed all of the lessons that the other signs have learned, including the pleasures and sorrows, hopes and anxieties. This makes these fish the astrological wheel's most intuitive, sympathetic, and caring creatures. With such high emotional sensitivity, Pisces must be careful to keep their feet firmly planted on the world of matter. Neptune, the heavenly body that rules imagination and dreams, rules Pisces, and this ethereal fish adores exploring its infinite imagination. Neptune, however, is also in charge of illusion and escape in its darker guise. Like the energy of the water, Neptunian energy is magical, enigmatic, and frequently terrifying. The horizon is obscured and the difference between the sea and the sky is impossible when the fog is thick on the ocean.
    </p>
</div>