@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-theme font-weight-bold">Sagittarius ZODIAC SIGN</h1>
<p class="text-white underline">
    Symbolized by <a href="#" class="text-theme"> the Archer</a>
    <span class="ml-3">Fire Sign</span> <span class="ml-4">
        Date
        <a href="#" class="text-theme"> November 22nd - December 20th</a>
    </span>
    <span class="ml-2">Birthstone:</span> <span class="ml-2 text-theme">Citrine</span>
</p>
<img class="img-fluid" src="~/images/Sag.PNG" />
<div class="mt-2">
    <h4 class="text-white pt-3 mb-3">Traits:</h4>
    <ul class="d-flex flex-wrap">
        <li class="text-white border p-3">Optimistic</li>
        <li class="text-white border p-3">Lovers</li>
        <li class="text-white border p-3">Fair</li>
        <li class="text-white border p-3">Intellectual</li>
        <li class="text-white border p-3">Funny</li>
    </ul>
    <h4 class="text-white pt-3 mb-3">Sagittarius in depth:</h4>
    <p class="text-white">
        Being a changeable sign, Sagittarius is linked to flexibility and adaptability. This accurately captures the archers' ingrained drive for transformation. Sagittarians are born explorers, therefore it's crucial that they have the freedom to move about as they like. (Sagittarius regulates the thighs; as a result, these archers never stop moving.) These archers are known to travel the globe on thrill-seeking trips in pursuit of physical, intellectual, and spiritual explorations. Their restlessness fuels them. Because they are constantly seeking out new information, Sagittarians excel as storytellers, entertainers, and artists. But it's not all fun and games: Sagittarius is known for being frank, and their "brutal honesty" frequently results in misunderstandings, poor communication, and a lot of bruised feelings. The good news, though?
    </p>
</div>