@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-theme font-weight-bold">Scorpio ZODIAC SIGN</h1>
<p class="text-white underline">
    Symbolized by <a href="#" class="text-theme"> the Scorpion</a>
                  <span class="ml-3">Water  Sign</span> <span class="ml-4">
        Date
        <a href="#" class="text-theme"> October 23rd - November 21st</a>
    </span>
    <span class="ml-2">Birthstone:</span> <span class="ml-2 text-theme">Beryl</span>
</p>
<img class="img-fluid" src="~/images/Scorpio.PNG" />
<div class="mt-2">
    <h4 class="text-white pt-3 mb-3">Traits:</h4>
    <ul class="d-flex flex-wrap">
        <li class="text-white border p-3">Determined</li>
        <li class="text-white border p-3">Loyal</li>
        <li class="text-white border p-3">Honest</li>
        <li class="text-white border p-3">Ambitious</li>
        <li class="text-white border p-3">Resentful</li>
    </ul>
    <h4 class="text-white pt-3 mb-3">Scorpio in depth:</h4>
    <p class="text-white">
        One of the most misunderstood zodiac signs is Scorpio. Scorpio is frequently mistaken for a fire sign due to its intense passion and power. Actually a water sign, Scorpio draws its power from the psychological and emotional sphere. Like Pisces and Cancer, two other water signs, Scorpio is a highly perceptive and clairvoyant sign. Its characteristic deadly sting is what distinguishes this water sign. Scorpios wait patiently and attack when least expected, just like their ascended master's chosen animal, the scorpion. For these calculating water signs, who continually plan several moves ahead to engineer an eventual checkmate, life is a game of chess. This does not necessarily imply that they have evil motives. Scorpios just have a clear idea of what they want and aren't hesitant to put in the effort and patience necessary to attain it.
    </p>
</div>