@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-theme font-weight-bold">Taurus ZODIAC SIGN</h1>
<p class="text-white underline">Symbolized by <a href="#" class="text-theme"> the Bull</a> <span class="ml-3">Earth Sign</span> <span class="ml-4">Date <a href="#" class="text-theme"> April 20th - May 20th</a></span> <span class="ml-2">Birthstone:</span> <span class="ml-2 text-theme">Sapphire</span></p>
<img class="img-fluid" src="~/images/Taurus.PNG" />
<div class="mt-2">
    <h4 class="text-white pt-3 mb-3">Traits:</h4>
    <ul class="d-flex flex-wrap">
        <li class="text-white border p-3">Aesthetics</li>
        <li class="text-white border p-3">Patience</li>
        <li class="text-white border p-3">Sensual</li>
        <li class="text-white border p-3">Nonchalant</li>
        <li class="text-white border p-3">Perseverance</li>
    </ul>
    <h4 class="text-white pt-3 mb-3">Taurus in depth:</h4>
    <p class="text-white">
        The bull is the symbol for Taurus, an earth sign. Taureans prefer unwinding in quiet, bucolic settings filled with soft sounds, calming fragrances, and sumptuous flavors, just like their celestial spirit animal. Venus, the alluring planet that rules romance, beauty, and wealth, rules Taurus. The earth sign of Taurus is the most sensuous in the zodiac due to the Venusian influence; these cosmic cows are seduced by any outward display of comfort and luxury. Taureans who are epicureans must have pleasure, and they are happiest when given attention. (Since Taurus rules the neck, these bulls are especially attracted to neck pats). It's true that Taureans would spend the entire day taking baths in a tub filled to the brim with aromatic oils. These earth signs are also aware of the worth of money. Taureans aren't hesitant to put in a lot of effort and work for significant benefits. They are driven, determined, and tough, and they feel safest when they consistently contribute to savings accounts.
    </p>
</div>