@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-theme font-weight-bold">Virgo ZODIAC SIGN</h1>
<p class="text-white underline">
    Symbolized by <a href="#" class="text-theme"> the virgin</a>
    <span class="ml-3">Earth Sign</span>
    <span class="ml-4">Date <a href="#" class="text-theme"> August 23rd - September 22nd</a></span>
    <span class="ml-2">Birthstone:</span> <span class="ml-2 text-theme">Carnelian</span>
</p>
<img class="img-fluid" src="~/images/Virgo.PNG" />
<div class="mt-2">
    <h4 class="text-white pt-3 mb-3">Traits:</h4>
    <ul class="d-flex flex-wrap">
        <li class="text-white border p-3">High standard</li>
        <li class="text-white border p-3">Modest</li>
        <li class="text-white border p-3">Hard worker</li>
        <li class="text-white border p-3">Helpful</li>
        <li class="text-white border p-3">Humble</li>
    </ul>
    <h4 class="text-white pt-3 mb-3">Virgo in depth:</h4>
    <p class="text-white">
        Virgo is an earth sign that has traditionally been associated with the goddess of wheat and agriculture. This link highlights Virgo's strong connection to the physical world. Virgos approach life logically, practically, and methodically. This earth sign strives for perfection and isn't hesitant to develop talents via persistent, thorough effort. These earth signs are highly tuned into the components that make up a whole, both in food and in everything else, because Virgo oversees the digestive system. They have acute attention to every detail. Mercury, the communication's messenger planet, rules the sign of Virgo. Virgo is about input and processing, whereas Gemini is about output and expression, despite the fact that Mercury also rules Gemini. A Virgo approaches knowledge like a computer, organizing even the most disorganized set of data into understandable concepts. Though Virgos aspire to be careful in whatever they do, they must keep in mind that constantly striving for perfection can be harmful to oneself or others. It's critical for Virgos to understand that flaws are not defects since beauty can be found in our imperfections.
    </p>
</div>